:host {
  height: 100%;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.grid-wrapper {
  height: 100%;
  width: 100%;
  padding: 30px;
  position: relative;
  display: flex;

  .axis-conainer {
    display: flex;
    flex-direction: column;
    flex: 0 0 50px;
  }
  .content-wrapper {
    flex: 0 0 200px;
    overflow: hidden;
  }

  .scroll-container {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
  }

  .rows-and-columns-wrapper {
    height: 100%;
    position: relative;
  }
  .rows-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    .grid-row {
      position: absolute;
      background-color: gray;
      width: 100%;
      height: 1px;
    }
  }
  .cols-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    .stacked-bar-container {
      position: absolute;
      width: 55px;
    }
    .grid-col {
      border-right: 1px solid gray;
      display: flex;
      justify-content: center;
    }
  }

  .axis-y-wrapper {
    height: 100%;
    position: relative;
    color: #979797;

    .axis-y-value {
      font-size: 10px;
      position: absolute;
      width: 90%;
      text-align: right;
      white-space: nowrap;
    }
  }
}
